@font-face {
    font-family: 'SDSamliphopangche_Outline';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/SDSamliphopangche_Outline.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ImcreSoojin';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.3/ImcreSoojin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TmonMonsori';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/TmonMonsori.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Bazzi';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/Bazzi.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    box-sizing: border-box;
    line-height: 10px;
    background-color:#fffffb;
    background-size: 200px;
}

header{
    height: 120px;
    text-align:center;
    line-height: 100px;
    margin:0 auto;
    font-family: 'TmonMonsori';
    font-size: 60px;
    background-color:#a59a96;
    background-image: unset;
    border-radius: 20px;
}

#found{
    height: 500px;
    margin:0 auto;
    margin-top: 20px;
    text-align:center;
    line-height: 200px;
    font-family: 'TmonMonsori';
    font-size: 40px;

}

.flex-container{
    flex-wrap:wrap;
    align-content: space-around;
    display: flex;
    justify-content: space-around;
    
}

.items{
    height: 400px;
    width: 30%;
    background-color:#d6cbc7;
    margin-bottom: 20px;
    border-radius: 20px;
    font-family: 'Bazzi';
    font-size: 20px;
    

}


.items2{
    height: 500px;
    width: 30%;
    background-color:#d6cbc7;
    margin-bottom: 20px;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 500px;

}



.title{
    height:50px;
    vertical-align: middle;
    text-align: center;
    line-height: 30px;
    background-color: #a59a96;
    width: 100%;
    border-radius: 20px;
    font-size: 28px;
    
    

    
}

.bd{
    height:70%;
    margin-top: 10px;
    margin-left: 15px;
}

.date{
    height: 10%;
    margin-top: 10px;
    margin-left: 15px;

}

.menu, .cattype, .snack, .amount, .con, .catplace{
    margin-top: 15px;
    margin-left: 15px;

}

.catimg{
    height: 100px;
    width: 100px;
    margin-left: 450px;
}