{% load static %}
<!DOCTYPE html>
<html lang="kor">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'stylesheets/style.css' %}">
</head>

<body>
    <header> 서강 냥이 일상도감 </header>
    <div id="found">
        <a href ="{% url 'new' %}">냥이 발견</a>
    </div><br><br>
    <div class="list1">
        {% for post in posts_list %} 
        <a href="{% url 'detail' index=post.pk %}">{{post.title}}</a><br>
        <div>{{post.pub_date}}</div>
        <div class="list2">
            <br><br><br><br><br><br><br>
            <div>{{post.body}}</div>
        </div>
            <div class = "list3"> 
                <div>얼마나 성장했니? {{post.growth}}</div>
                <hr>
            </div>
        {% endfor %}
    </div>
</body>  

</html>